.body__elements{
    display:grid;
    height:100%;
    width: 100%;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    &__red{
        background-color: red;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    &__options{
        background-color:white;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    &__frame{
        position: absolute;
        background-color: yellow;
        height: 60%;
        width: 60%;
        top: 35%;
        left: 39.5%;
    }
}
// .leaflet-container{
//     height:200px;
//     width:200px;
//     position: relative;
// }