@mixin small-phone{
    @media (max-width: 450px){@content;}
}
@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

.body__elements{
    display:grid;
    height:100%;
    width: 100%;
    grid-template-rows: 800px;
    &__option{
        
        display: grid;
        background-color:blue;
        grid-column: 1/2;
        grid-row: 1/2;
        &__road{
            display:flex;
            @include for-tablet-landscape-up{
                min-width: 450px;
            }
            width:100%;
            justify-content:center;
        }
    }
    &__frame{
        display: grid;
        height: 700px;
        &__main{
            display:flex;
            flex-direction: row;
            @include for-phone-only{
                flex-direction: column-reverse;
            }
            @include for-tablet-portrait-up{
                flex-direction: column-reverse;
            }
            @include for-tablet-landscape-up{
                flex-direction: row;
            }
        }
        &__options{
            display: grid;
            @include for-desktop-up{
                grid-column: 2/3;
                grid-row: 2/3
            }
        }
        &__map{
            position: relative;
            width:100%;
            height:100vh;
            @include for-desktop-up{
                grid-column: 1/2;
                grid-row: 1/2
            }
        }
    }
}
.leaflet-container{
    margin:0;
    position: absolute;
}