.body__elements{
    display:grid;
    height:100%;
    width: 100%;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    &__color{
        background-color: yellow;
    }
    &__option{
        
        display: grid;
        background-color:white;
        grid-template-columns: 1fr 1fr;
        
        &__road{
            position: absolute;
            grid-column: 1/2;
            grid-row: 1/2;
            top:15%;
            left:10%;
            
        }
    }
    &__frame{
        position: absolute;
        
        height: 60%;
        width: 50%;
        top: 15%;
        left: 47.5%;
        
    }
}
.leaflet-container{
    height:600px;
    width:1000px;
    position: relative;
}