@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
.header__elements{
    display: grid;
    grid-template-columns: 3fr 2fr;
    height:100%;
    &__title{
        display:grid;
        align-items: center;
        font-family: 'Trade Winds';
        font-size: 40px;
        margin-left:2%;
        height: 100%;
    }
    &__search{
        display: grid;
        justify-content: center;
        align-items: center;
        &__bar{
            position: relative;
            &__input{
                border-radius: 15px;
                width:170%;
                height: 25px;
            }
            .fa-search{
                color: blue;
                position: absolute;
                top:20%;
                left:150%;
            }
        }
    }
    
}