@mixin small-phone{
    @media (max-width: 450px){@content;}
}
@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
.road__suggestions{
    position: relative;
    display:grid;
    background-color: #131d2d;
    min-width: 450px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 12fr;
    border: solid 3px black;
    height: 600px;
    width:100%;
    
}
.road{
    display: grid;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 40px;
    grid-column: 1/2;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    
    // border-right: solid 3px;

}
.road-active{
    display: grid;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 40px;
    grid-column: 1/2;
    color: #faa426;
    cursor: pointer;
}
.suggestions{
    display: grid;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 40px;
    grid-column: 2/3;
    border-left: solid 2px white;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.suggestions-active{
    display: grid;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 40px;
    grid-column: 2/3;
    border-left: solid 2px white;
    color: #faa426;
    cursor: pointer;
}
.road__options{
    // display:grid;
    position: relative;
    background-color: grey;
    grid-column: 1/3;
    margin: 20px;
    margin-top: 0px;
    border-radius: 15px;
    font-weight: 800;
    &__point{
        &__add{
            margin-left: 5%;
            background-color: #faa426;
            width: 20%;
            border-radius: 10%;
            height:36px;
            font-weight: 800;
        }
        margin-top: 5%;
        height: 15%;
        &__title{
            display:flex;
            justify-content: center;
        }
    }
    &__addpoint{
        cursor:pointer;
        color: #faa426;
        margin-top: 6%;
        font-weight: 800;
        margin-left: 3%;
    }
    &__submit{
        display:flex;
        justify-content: center;
        margin-top: 5%;
        height: 30px;
        width: 100%;
        font-weight: 800;
        button{
            height: 30px;
            width: 80%;
            font-weight: 800;
            border-radius: 10px;
            background-color: #faa426;
    }
        
    }
    a{
        height: 30px;
        font-size: 20px;
        justify-content: center;
        align-items: center;
         
        
    }
    input{
        height: 30px;
        width: 70%;
        margin-left: 3%;
    }
    
    
    
}
